.hero-container {
  margin: 1rem;
  padding: 3rem;
}

.center-make {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login-signup {
  background-color: plum;
  border-radius: 10px;
}

.login-btn {
  font-family: Hack, monospace;
  background: #bbff00;
  color: #1d1d1d;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: 100%;
  position: relative;
  min-width: 250px;
  outline: none;
}

.login-btn::after {
  content: "\2650";
  font-weight: 700;
  font-size: 1.3rem;
  position: absolute;
  left: 80%;
  top: 42%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
  outline: none;
}
.login-btn:hover {
  background: #2b2bff;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #0000ff61;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  color: #ffffff;
}

.login-btn:hover::after {
  opacity: 1;
  transition: all 0.5s;
  color: #ffffff;
  outline: none;
}
